* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  color: #333333;
}

button {
  font-family: inherit;
}

path, i, svg {
  pointer-events: none;
}

.colors-container {
  min-height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #d4d4d4;
}

.colors-container .color {
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  overflow: hidden;
  position: relative;
}

.colors-container .color h2 {
  font-size: 2rem;
  cursor: pointer;
}

.colors-container .color .initial-color {
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
}

.colors-container .color__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.colors-container .color__controls-adjust, .colors-container .color__controls-lock {
  font-size: 2rem;
  border: none;
  background: none;
  margin: 2rem 0;
  cursor: pointer;
}

.colors-container .color__sliders {
  background: white;
  padding: 1rem;
  width: 80%;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  bottom: 0%;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.colors-container .color__sliders-hue, .colors-container .color__sliders-brightness, .colors-container .color__sliders-saturation {
  -webkit-appearance: none;
  margin: 1rem 0rem;
  width: 100%;
  position: relative;
  border-radius: 1rem;
  cursor: pointer;
}

.colors-container .color__sliders-hue:focus, .colors-container .color__sliders-hue:focus, .colors-container .color__sliders-hue:focus, .colors-container .color__sliders-brightness:focus, .colors-container .color__sliders-brightness:focus, .colors-container .color__sliders-brightness:focus, .colors-container .color__sliders-saturation:focus, .colors-container .color__sliders-saturation:focus, .colors-container .color__sliders-saturation:focus {
  outline: none;
}

.colors-container .color__sliders.active {
  opacity: 1;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  pointer-events: all;
}

.colors-container .color__sliders-close-adjustment {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5rem;
  border-top-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  border: none;
  background-color: black;
  color: white;
  font-weight: bold;
}

.panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 20vh;
}

.panel__control {
  font-size: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.panel__control-btn {
  font-size: inherit;
  margin: 1rem;
  padding: 1rem 2rem;
  background: #1f213f;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 1rem;
}

.panel__control-btn:focus {
  outline: none;
}

.panel__control-text {
  font-size: inherit;
}

.copy__container {
  position: fixed;
  top: 0%;
  left: 0%;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  pointer-events: none;
}

.copy__container.active {
  opacity: 1;
  pointer-events: all;
}

.copy__container-popup {
  background: white;
  border-radius: 2rem;
  min-width: 30%;
  min-height: 30vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
  -webkit-transform: translateY(-2rem);
          transform: translateY(-2rem);
}

.copy__container-popup.active {
  -webkit-transform: translateY(0rem);
          transform: translateY(0rem);
}

.copy__container-popup h4 {
  font-size: 2rem;
}
/*# sourceMappingURL=style.css.map */